div#msg-box{
  height: 75%;
  width: 50% ;
  border: thin solid black;
  overflow: auto;
  float: left;
  background-color: red;
}

div#user-list{
  height: 75%;
  width: 15%;
  border: thin solid black;
  float: left;
  display: inline-block;
  background-color: blue;
}

div#chat-room {
  display: inline;
  align: center;
}

form#msg-form {
  clear: both;
}